.signin {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign {
    background-color: #FCF6F6;
    border-radius: 10px;
    width: 300px;
   
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
  }
  
  .sign__container {
    margin-bottom: 2rem;
    height: 10vh;
    width: 10rem;
    align-self: center;
  }
  
  .sign__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  .login-label {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    display: block;
  }
  
  .input-field {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  form{
    background-color: var(--bg-color);
    padding: 3rem;
    border-top-left-radius: 50px;
    height: 50vh;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  .checkbox-container input {
    margin-right: 0.5rem;
  }
  
  .forgot-password {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    transition: ease 0.5s;
  }
  .forgot-password:hover{
    color: var(--btn-color-2);
  }
  .login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #333;
  }
  .forgot-password2{
    color: var(--btn-color-2);
    
  }
  